@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

@if (Session["UserName"] == null)
{
    <div style="background-color:#c3dde8; width:400px; height:300px; margin-top:50px; margin-left:500px; padding:30px">
        <h1 style="margin-left:30px; margin-top:50px;">ADMİN GİRİŞ SAYFASI</h1>
        <br /><br />
        @using (Html.BeginForm("AdminLogin", "Admin", FormMethod.Post))
        {
            <div style="margin-left:50px">
                <table>
                    <tr>
                        <td style="font-size:20px"><b>@Html.Label("Kullanıcı Adı:")</b></td>
                        <td>@Html.TextBoxFor(x => x.AdminUsername)</td>
                    </tr>
                    <tr>
                        <td style="font-size:20px"><b>@Html.Label("Şifre:")</b></td>
                        <td>@Html.PasswordFor(x => x.AdminPassword)</td>
                    </tr>
                </table><br />
                <button style="background-color:#365670; font-size:20px; margin-left:160px"><b>GİRİŞ YAP</b></button>
            </div>
        }
    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        }
    </script>
}